

{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h1>Mason Bridges</h1>
    <p>Python developer, new to the tech industry</p>
    <!--I would suggest choosing a different picture here.-->
    <!--Like maybe a hobby photo-->
    <img src="https://www.dropbox.com/home?preview=21427586_350594825375196_1089795973177112242_o.jpg" alt="Headshot of myself">
</section>
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>Manifesto</h2>
    <p>
        I plan to use Python to seize the means of production and usher in a new epoch of technological equality. Laptop workers of the world, UNITE!
    </p>
    <p>
        And once I've conquered TreeHouse, LeetCode is next!
    </p>
    <a href="#"><i class="far fa-file"></i>Resume</a>
</section>
{% endblock %}